/* global main styles */
@import url(main_styles.css);

/*Main background color&font */
body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    height: 100vh; /* Ensure full height */
    margin: 0; /* Remove default margin */
    
}

/* Center content in .main-container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand {
    width: 50px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    position: absolute;
    top: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.register2--label {
    top: 100px;
    font-size: 25px;
    font-weight: bolder;
    color: var(--font-color-dark);
    left: 20px;
    position: relative;
}

.register2--form-box{
    width: 380px; 
    height: 480px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: var(--bg-color-container);
    padding: 20px; 
    box-shadow: var(--box-shadow);
}

.register2--input-group{
    top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.register2--input-field{
    top: -60px;
    margin: 5px;
    padding: 15px 0px;
    width: 333px;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    color: var(--font-color-gray);
    outline: none;
    position: relative;
    text-decoration: none;
    text-align: left;
    text-indent: 6%;
    margin-bottom: 8px;
}

.register2--input-field-bio {
    top: 120px;
    left: 6%;
    padding: 15px 0px;
    width: 333px;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    color: var(--font-color-gray);
    outline: none;
    position: relative;
    text-decoration: none;
    text-align: left;
    text-indent: 6%;
    margin-bottom: 30px; 
}

.character-count {
    top: 95px;
    left: 3%;
    font-size: 12px;
    width: 333px;
    color: var(--font-color-dark);
    outline: none;
    position: relative;
    text-decoration: none;
    text-align: left;
    text-indent: 7%;
     
    
}


.register2--label-welcome {
    top: 100px;
    left: 5%;
    font-size: 18px;
    font-weight: bolder;
    color: var(--font-color-dark);
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    width: calc(100% - .75rem);
    
}

.signup--button-box{
    width: 333px;
    background-color: var(--bg-color-btn);
    border-radius: 6px;
    outline: none;
    margin: 160px auto;
    text-decoration: none;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    color: var(--font-color-light);
    background: transparent;
    position: relative;
}

.register2--register{
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;   
    width: 100%;
}


.register2--register a {
    text-decoration: none;
    color: var(--font-color-dark);
    font-size: 13px;
}

/*Media Queries and Responsive design*/
@media only screen and (max-width: 600px) {
    .brand {
        width: 78px;
        height: auto;
        display: block;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .register2--label-welcome {
        font-size: 28px;
        top: 140px;
        left: 2%;
        font-weight: bolder;
        color: var(--font-color-dark);
        width: calc(100% - .75rem);
        margin-bottom: 30px; 
        text-align: center;
    }

    .register2--form-box {
        width: 80%;
        max-width: 300px; 
        max-height: 95vh;
        height: auto;
        background: var(--bg-color-container);
        padding: 20px; 
        box-shadow: var(--box-shadow);
        display: flex; 
        align-items: center;
        flex-direction: column; 
        justify-content: space-between; 
        
    }

    .register2--input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register2--input-field {
        padding: 15px;
        font-size: 15px;
        width: calc(100% - -60px);
        cursor: pointer;
        margin-top: -5px; 
        border-radius: 6px;
        color: var(--font-color-gray);
        outline: none;
        text-decoration: none;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .register2--input-field-bio {
        top: 120px;
        font-size: 15px;
        width: calc(100% - 20px);
        left: -1px;
        cursor: pointer;
        margin-top: 10px; 
        border-radius: 6px;
        color: var(--font-color-gray);
        outline: none;
        text-decoration: none;
        text-align: left;
        margin-bottom: 50px;
    }

    .register2--input-field-bio::placeholder {
        padding-left: 1rem;
    }

    .signup--button-box {
        width: 95%;
        background-color: var(--bg-color-btn);
        border-radius: 6px;
        outline: none;
        text-decoration: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -25px;
    } 
    

    .toggle-btn{
        padding: 10px 30px;
        cursor: pointer;
        border: 0;
        outline: none;
        color: var(--font-color-light);
        background: transparent;
        position: relative;
        font-size: 20px;
    }

    .register2--register {
        font-size: 12px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    .character-count {
        top: 80px;
        left: 3%;
        font-size: 12px;
        width: 333px;
        color: var(--font-color-dark);
        outline: none;
        position: relative;
        text-decoration: none;
        text-align: left;
        text-indent: 7%;
         
        
    }
}




